body{
    background-color: aqua;
}
#container{
    width: 1000px;
    height: 500px;
    margin: auto;
    background-color: yellow;
}
.send{
    float: left;
    width: 500px;
    height: 500px;
    background-color:aliceblue;
}
.txs{
    float: right;
    width: 500px;
    height: 500px;
    background-color:beige;
}
#menu{
    width: 1000px;
    height: 100px;
    background-color: antiquewhite;
    margin: auto;
}
#key{
    width: 1000px;
    height: 100px;
    background-color: blanchedalmond;
    margin: auto;
}