{% extends "base.html" %}
{% block content %}

<p>
    <h1>The future is already here – it's just not evenly distributed.</h1>>
</p>
<h2>Hi, {{user.nickname}}!</h2>
<hr />
<!---<img src="/static/images/btc.jpeg" width="300" height="300">
<button type="button">BTC</button> --->
<form action="{{ url_for('bp_views.index') }}" method="POST">
<input name="COINTYPE" type="image" value="btc" src="/static/images/btc.jpeg" width="300" height="300" />
<input name="COINTYPE" type="image" value="eth" src="/static/images/eth.jpeg" width="300" height="300" />
<input name="COINTYPE" type="image" value="eos" src="/static/images/eos.jpeg" width="300" height="300" />
</form>
{% endblock %}